.profile {
  min-height: 90vh;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: teal; */
}

.top-profile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-flow: column;
  /* background-color: purple; */
}

.profile-pic-section {
  border-radius: 30px;
  box-sizing: border-box;
  background-color: var(--dark-shade2);
  height: 20vh;
  margin-top: 50px;
  width: 60%;
  position: relative;
  /* padding: 10px 10px; */
  /* background-color: tan; */
}

.profile-pic-container {
  position: absolute;
  padding: 10px 15px;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
}

.profile-pic {
  border-radius: 100%;
}

.profile-basic-details {
  /* background-color: tan; */
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-flow: column;
  align-items: center;
}

.h1 {
  font-size: 1.5rem;
}

.quality {
  margin-top: 5px;
  font-size: small;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: var(--dark-shade2);
}

.down-arrow {
  display: none;
}

.bottom-profile {
  display: inherit;
  margin-top: 20px;
  padding: 20px 0;
  width: 90%;
  border-top: 1px solid var(--dark-shade2);
  display: flex;
  flex-flow: column;
  flex-direction: column;
  gap: 20px;
}
.bottom-profile-hide {
  display: inherit;
  margin-top: 20px;
  padding: 20px 0;
  width: 90%;
  border-top: 1px solid var(--dark-shade2);
  display: flex;
  flex-flow: column;
  flex-direction: column;
  gap: 20px;
}

.bottom-profile-content {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* background-color: tan; */
  /* justify-content: center; */
}

.bottom-profile-label {
  margin-bottom: 2px;
  color: var(--gray-set);
}

.content {
  font-size: small;
}

.email {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
  /* background-color: teal; */
}

.bottom-profile-content-icons {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.icon-pack-nav {
  cursor: pointer;
}

@media only screen and (min-width: 771px) and (max-width: 1024px) {
  .profile {
    min-height: 90vh;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: tan; */
  }
}


/* For Tablets */

@media only screen and (min-width: 551px) and (max-width: 770px) {
  .profile {
    min-height: auto;
    padding: 0px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: tan; */
  }
  .top-profile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-flow: row;
    gap: 20px;
    height: auto;
    /* background-color: tan; */
  }
  .profile-pic-section {
    height: 30vh;
    width: 50%;
    position: relative;
    /* background-color: tan; */
  }
  .bottom-profile-hide {
    display: none;
  }
  .down-arrow {
    display: inherit;
    /* margin-left: 100px; */
    /* background-color: tan; */
    float: right;
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }
  .profile-pic-section {
    border-radius: 30px;
    box-sizing: border-box;
    background-color: var(--dark-shade2);
    height: 30vh;
    margin: 10px 0;
    width: 60%;
    position: relative;
    /* padding: 10px 10px; */
    /* background-color: tan; */
  }
  .profile-basic-details {
    /* background-color: tan; */
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    flex-flow: column;
    align-items: center;
  }
}


/* For Smart Phones */

@media only screen and (max-width: 550px) {
  .profile {
    min-height: auto;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: tan; */
  }
  .top-profile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-flow: row;
    gap: 20px;
    /* background-color: tan; */
  }

  .profile-pic-section {
    border-radius: 30px;
    box-sizing: border-box;
    background-color: var(--dark-shade2);
    height: 20vh;
    margin: 0px 0;
    position: relative;
    /* padding: 10px 10px; */
    /* background-color: tan; */
  }
  .profile-basic-details {
    /* background-color: tan; */
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    flex-flow: column;
    align-items: center;
  }

  .h1 {
    font-size: 1rem;
  }

  .quality {
    margin-top: 10px;
    font-size: x-small;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--dark-shade2);
  }

  .bottom-profile-hide {
    display: none;
  }
  .down-arrow {
    display: inherit;
    /* margin-left: 100px; */
    /* background-color: tan; */
    float: right;
    width: auto;
    display: flex;
    justify-content: flex-end;
  }
}
